.info {
    padding: 30px 10px;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.info__content {
    width: 67%;
}

.info__video {
    width: 100%;
    height: 550px;
}

.info__video-title {
    margin: 0;
    padding: 15px 0;
    font-weight: 400;
}

.info__video-about {
    font-size: 16px;
}

.hr {
    margin: 20px 0px;
}

.info__desc-details {
    display: flex;
    align-items: flex-start;
    padding: 20px 0px;
}

.info__desc-title {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.info__desc-heading {
    margin-right: 20px;
    font-size: 15px;
    font-weight: 500;
}

.chanel-video {
    background-color: white;
    margin: 0 20px 0;
    padding: 30px 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    display: inline-block;
    margin-bottom: 10px;
}

.chanel__category-video {
    display: inline-block;
    width: 100%;
    margin: 0;
}

.thumbnail {
    display: inline;
}

.chanel__imgs {
    width: 168px;
    height: 94px;
    object-fit: cover;
}

.chanel__category-img {
    margin-right: 10px;
}

.chanel__videos {
    margin-bottom: 10px;
}

.chanel__img {
    margin-right: 20px;
}

.chanel__video {
    display: flex;
    width: 100%;
}

.content__dark .info .info__content  .info__video-title {
    color: white;
}
.content__dark .info .info__content  div span {
    color: #aaa;
}
.content__dark .info .info__content  .info__desc-details div .info__desc-title h3 {
    color: #aaa;
    color: white;
}
.content__dark .info .info__content  .info__desc-details div div {
    color: #aaa;
    color: white;
}